<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href={{ url_for ("static", filename = "foundation.min.css") }}>
    <link rel="stylesheet" type="text/css" href={{ url_for ("static", filename = "style.css") }}>
    <title>Add Tip</title>
</head>
<body>
    <div data-sticky-container>
        <div data-sticky data-margin-top='0' data-top-anchor="header:bottom" data-btm-anchor="content:bottom">
            <div class="top-bar topbar-sticky-shrink">
                <div class="top-bar-title">
                    <h1>US Citizenship Test Study Center</h1>
                </div>
                <div class="top-bar-right">
                    <ul class="menu">
                        <li><a href="/advice_center">Advice Center</a></li>
                        <li><a href="/question/0">Take a test</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    {% extends "flash_set_up.html" %}
    {% block body %}
    <div class="callout">
        <h3>Add Tip</h3>
        <form action="/advice/new" method="POST">
            <div>
                <label for="tip">Tip:</label>
                <input type="text" name="tip">
            </div>
            <button type="submit" class="button">Submit</button>
        </form> 
    </div>
    {% endblock %}
</body>
</html>