<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Tip</title>
</head>
<body>
    {% extends "flash_set_up.html" %}
    {% block body %}
    <div>
        <h1>Edit Tip</h1>
        <form action="/advice/{{tip.id}}/edit" method="POST">
            <input type="hidden" name="id" value="{{ tip.id }}">
            <div>
                <label for="tip">Tip:</label>
                <input type="text" name="tip" value="{{ tip.tip }}">
            </div>
            
            <button type="submit">Update your advice</button>
        </form> 

        <div class="home">
            <a href="/advice_center">back to Advice Center</a>  |  <a href="/logout">logout</a>
        </div>
    </div>
    {% endblock %}
</body>
</html>


