<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <title>US Citizenship Test Study Center</title>
</head>
<body>
    {% extends "flash_set_up.html" %}
    {% block body %}
    <div>
        <div>
            <h2>Register</h2>
            <form action="/registration" method="POST">
                <div>
                    <label for="username" class="form-label">Username:</label>
                    <input type="text" name="username">
                </div>
                <div>
                    <label for="email" class="form-label">Email:</label>
                    <input type="text" name="email">
                </div>
                <div>
                    <label for="password" class="form-label">Password (must be at least 8 characters):</label>
                    <input type="password" class="form-label" name="password">
                </div>
                <div>
                    <label for="password" class="form-label">Confirm Password:</label>
                    <input type="password" name="password_confirm">
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form> 
        </div>
        <div>
            <div>
                <h2>Login</h2>
                <form action="/login" method="POST">
                    <div>
                        <label for="email">Email:</label>
                        <input type="text" name="email">
                    </div>
                    <div>
                        <label for="password">Password:</label>
                        <input type="password" name="password">
                    </div>
                    <div>
                        <button type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>