<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Test</title>
</head>
<body>
    <div class="header">
        <h1>US Citizenship Test Study Center</h1>
        <a href="/logout">Logout</a>
    </div>

    <div class="test">
        <form action="/question/{{question_number_page}}" method="POST">
            {{ question.question }}<br>

            {{ question.answer1 }}
            <input name="answer" type="radio" value={{"true" if question.answer1  == question.correct_answer else "false"}} />

            {{ question.answer2 }}
            <input name="answer" type="radio" value={{"true" if question.answer2  == question.correct_answer else "false"}} />

            {{ question.answer3 }}
            <input name="answer" type="radio" value={{"true" if question.answer3  == question.correct_answer else "false"}} />

            {{ question.answer4 }}
            <input name="answer" type="radio" value={{"true" if question.answer4  == question.correct_answer else "false"}} />

            <button type="submit">Submit Answer</button>
        </form>
    </div>



</body>
</html>