<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href={{ url_for ("static", filename = "foundation.min.css") }}>
    <link rel="stylesheet" type="text/css" href={{ url_for ("static", filename = "style.css") }}>
    <title>The Test</title>
</head>
<body>

    <div data-sticky-container>
        <div data-sticky data-margin-top='0' data-top-anchor="header:bottom" data-btm-anchor="content:bottom">
            <div class="top-bar topbar-sticky-shrink">
                <div class="top-bar-title">
                    <h1>US Citizenship Test Study Center</h1>
                </div>
                <div class="top-bar-right">
                    <ul class="menu">
                        <li></li>
                        <li></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>

    <div class="callout">
        <form action="/question/{{question_number_page}}" method="POST">
            <h5>{{ question.question }}</h5>
            <hr>
            {{ question.answer1 }}
            <input name="answer" type="radio" value={{"true" if question.answer1  == question.correct_answer else "false"}} />
            <br>
            {{ question.answer2 }}
            <input name="answer" type="radio" value={{"true" if question.answer2  == question.correct_answer else "false"}} />
            <br>
            {{ question.answer3 }}
            <input name="answer" type="radio" value={{"true" if question.answer3  == question.correct_answer else "false"}} />
            <br>
            {{ question.answer4 }}
            <input name="answer" type="radio" value={{"true" if question.answer4  == question.correct_answer else "false"}} />
            <br>
            <button class="button" type="submit">Submit Answer</button>
        </form>
    </div>




</body>
</html>