<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tips</title>
</head>
<body>
    <h1>Citizenship Test Advice</h1>
    <h2>{{ user.username }}</h2>
    <a href="/tips/new">Add a new tip</a>

    <p>Reported tips:</p>
    <table>
        <thead>
            <tr>
                <th>Tip</th>
                <th>Reported By</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for one_tip in tips %}
                <tr>
                    <td>{{ one_tip.tip }}</td>
                    <td>{{ one_tip.test_taker.username }}</td>
                    <td><a href="/tips/{{ one_tip.id }}">View</a>
                        {% if one_tip.user == session['id'] %} | <a href="/tips/{{ one_tip.id }}/edit">Edit</a> | {% endif %} 
                        {% if one_tip.user == session['id'] %} <a href="/tips/{{ one_tip.id }}/delete">Delete</a> {% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/logout">Logout</a>
</body>
</html>