*{
    margin: 0px;
    padding: 0px; 
}

body {
    background-color: #dfdfdf;
    background-image:  url('/static/background.svg');
}

.top-bar-title{
    color: lightgray;
}

.row {
    padding: 2rem;
    display: flex;
}

.welcome {
    padding: 2rem;
}

.callout{
    padding: 2rem;
}


.column-left .column-right {
    flex: 2;
}

.column-left {
    margin-right: .5em;
}

.column-right {
    margin-left: .5em;
}

.topbar-sticky-shrink {
    padding: 2rem;
    transition: padding 0.25s ease;
    background: #2c3840;
}

.topbar-sticky-shrink .menu {
    background: #2c3840;
}

.is-stuck .topbar-sticky-shrink {
    padding: 1rem;
    transition: padding 0.25s ease;
}

[data-sticky] {
    width: 100%;
}
  
  /* .topbar-sticky-shrink-header {
    padding: 10rem 0;
    background-size: cover;
  } */
  
  
