*{
    margin: 0px;
    padding: 0px; 
}

body {
    background-color: lightgray;
    /* background-size: cover; */
}

.top-bar-title{
    color: lightgray;
}

.row {
    padding: 2rem;
    display: flex;
}

.welcome {
    padding: 2rem;
}

.test {
    margin: 20px, 100px, 0px, 100px;
}

.column-left .column-right {
    flex: 2;
}

.column-left {
    margin-right: .5em;
}

.column-right {
    margin-left: .5em;
}

.topbar-sticky-shrink {
    padding: 2rem;
    transition: padding 0.25s ease;
    background: #2c3840;
}

.topbar-sticky-shrink .menu {
    background: #2c3840;
}

.is-stuck .topbar-sticky-shrink {
    padding: 1rem;
    transition: padding 0.25s ease;
}

[data-sticky] {
    width: 100%;
}
  
  /* .topbar-sticky-shrink-header {
    padding: 10rem 0;
    background-size: cover;
  } */
  
  

/* .translucent-form-overlay {
    margin-top: 50px;
    max-width: 500px;
    width: 100%;
    background-color: rgba(54, 54, 54, 0.8);
    padding: 20px;
    color: #fefefe;
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

.radio-background{
    background-color: white;
    padding-left: 10px;
    padding-top: 10px;
}